/* Header-navigation releted styles */
.header_nav {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png')
        /*, url('images/developer.png')*/
    ;
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 550px;
    width: 100%;
}

.developer_bg {
    position: absolute;
    top: 5px;
    left: 0px;
    height: 625px;
    width: 80px;
    padding-left: 20px;

}

.my_first_name {
    font-size: 40px;
    font-style: bold;
    margin: 30px 0px 0px 170px;
    font-weight: 800;

}

.letter_i_style {
    color: #FD6E0A;
}

.hire_me_btn,
.dwnld_cv_btn,
.contact_btn {
    background-color: #FD6E0A;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: 550;
}

.contact_btn {
    color: #FD6E0A;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    padding: 9px 19px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
    font-family: 'Open Sans', sans-serif;
}

nav>.li_nav {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 40px 170px 0px 0px;
    align-items: center;
}

nav .li_nav a {
    text-decoration: none;
    color: black;
}

.dwnld_cv_btn,
.contact_btn {
    margin-right: 10px;
    margin-top: 20px;
}


/* Header-banner releted styles */
.banner {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 170px;
    display: flex;

}

.myself_in_short {
    color: gray;
}

.banner_element {
    padding: 120px 300px 0px 0px;
    gap: 30px;
}

.my_full_name {
    font-size: 50px;
}

.my_image {
    height: 550px;
    width: 300px;
    padding-right: 100px;
}


/* About me style */

.about {
    height: 100px;
    width: 40%;
    background-color: #FFF8F3;
    margin: 50px auto;
    text-align: center;
    padding: 100px 250px;
}

.person_about_info {
    display: flex;
    text-align: center;
}